<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body  class="flex-container" >
      <% myData.forEach(element => { %>


        <h1 ><%= element.title %>
          
          <img src="http://image.tmdb.org/t/p/w185/<%= element.poster_path %>" width="250" height="350">
        </h1>

      <% }) %>
  </body>
</html>
